@import 'variables';

/// Centro flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/// Sombra suave
@mixin soft-shadow($size: 0.2rem, $color: rgba(0,0,0,0.1)) {
  box-shadow: 0 $size $size $color;
}
